<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Flight</title>
</head>
<body>
    <h1><em>Create Flight..</em> </h1>
    <form action='/admin/flight/create' method="post">
        
        <label>Flight Number</label>
        <input type='number' placeholder='FlightNumber' name="FlightNumber" />
        <br/>
        <label>Departure Time</label>
        <input type='time' name="Departure" />
        <br/>
        <label>Arrival Time</label>
        <input type='time' name="Arrival" />
        <br/>
        <label>Flight Date</label>
        <input type='date'  name="FlightDate" />
        <br/>
        <label>Economy Seats</label>
        <input type='number' placeholder='EconomySeats' name="EconomySeats" />
        <br/>
        <label>Business Seats </label>
        <input type='number' placeholder='BusinessSeats' name="BusinessSeats" />
        <br/>
        <label>First Class seats</label>
        <input type='number' placeholder='FirstClassSeats' name="FirstClassSeats" />
        <br/>
        <label>From Airport </label>
        <input type='text' placeholder='FromAirport' name="FromAirport" />
        <br/>
        <label>To Airport </label>
        <input type='text' placeholder='ToAirport' name="ToAirport" />
        <br/>
        <button>Create</button>
    </form>
    
</body>
</html>