img{
    max-height: 600px;
}
.pickgradient {
  display:inline-block;
  background: linear-gradient(to bottom, rgba(0, 38, 119, 0.6) 0%,rgba(0, 38, 119, 0.4) 20%,rgba(1,1,1,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
}

img{
  position:relative;
  z-index:-1;
  display:block;
}